<!-- start home -->
<body class="homenav">
<section id="home" class="text-center">
  <div class="templatemo_headerimage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag "slider/frame_slide.jpg", alt: "First Slider" %>
          <div class="slider-caption">
            <div class="templatemo_homewrapper">
              <h1 class="wow fadeInDown" data-wow-delay="2000">Chelsea Framing Products</h1>
              <h2 class="wow fadeInDown" data-wow-delay="2000">
                <span>Quality Moulding at Your Price</span>
              </h2>
              <%= link_to "Our Work", items_index_path, class: "smoothScroll btn btn-default wow fadeInDown", :data => { :data_wow_delay => "2000"}%>
              <!-- <a href="/static_pages/product" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Our Work</a> -->
            </div>
          </div>
        </li>
        <li>
          <%= image_tag "slider/frame_slide.jpg", alt: "Second Slide" %>
          <div class="slider-caption">
            <div class="templatemo_homewrapper">
              <h1 class="wow fadeInDown" data-wow-delay="2000">Chelsea Framing Products</h1>
              <h2 class="wow fadeInDown" data-wow-delay="2000">
                <span>Quality Moulding at Your Price</span>
              </h2>
              <%= link_to "See About Us", static_pages_about_path, class: "smoothScroll btn btn-default wow fadeInDown", :data => { :data_wow_delay => "2000"}%>
              <!-- <a href="/static_pages/about" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">See about us</a> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- end home -->
<!-- Arrow Down -->
<div id="scroll">
  <div class="arrow bounce">
    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
  </div>
</div>
<!-- end arrow -->
<!-- start service -->
<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-file"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Expansive Catalogue</h3>
            <p>Hundreds of profile-finish combinations to meet all of your project needs</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-archive"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Box & Container Program</h3>
            <p>Ability to meet all quantity requirements from box-quantity orders to <br /> container-quantity orders</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Competitive Pricing</h3>
            <p>Multiple quantity-based price points to keep all customers competitive with opportunities of all quantities</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-phone"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Excellent Customer Service</h3>
            <p>Our main focus is to ensure timely and detailed responses for any inquiries, comments, concerns, or suggestions</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-users"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Great Team</h3>
            <p>We have dedicated design team to assist in creating completely new moulds to fit all project requirements</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow bounce" data-wow-delay="0.2s">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.1s">
            <h3 class="media-heading">Convinient Location</h3>
            <p>Distribution points in Chicago, IL <br /> and Los Angeles, CA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end service -->

<!-- start divider -->
<div id="divider">
  <!-- <div class="pblock">
    <%# <%= image_tag "divider.jpg", :class => "img-parallax", :alt => "divider.jpg", :data => { :speed => "1"} %>
  </div> -->
  <div class="container">

    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-8 col-sm-8">
        <h2 class="wow bounce">We provide
          <strong>Quality</strong>
        </h2>
        <h3 class="wow fadeIn" data-wow-delay="0.3s">
          <mark>Creative</mark>
          Designers &amp;
          <mark>Talented</mark>
          Developers</h3>
        <p class="wow fadeInUp" data-wow-delay="0.3s">Our goal is to bring our customers the highest quality polystyrene moulding at an affordable price-point. Our company has a strong product development team working on bringing new trends and finishes to the largest collections.</p>
        <div class="divlink wow bounceInUp" data-wow-delay="0.6s">
          <%= link_to "Find Out What We Have", items_index_path %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end divider -->

<!-- start contact -->
<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
        <address>
          <h3>Visit Office</h3>
          <p>
            <i class="fa fa-map-marker too-icon"></i>
            333 Enterprise Pkwy, Lake Zurich, IL 60047</p>
          <p>
            <i class="fa fa-phone too-icon"></i>
            Order & Customer Service: 847-550-5556
          </p>
          <p>
            <i class="fa fa-envelope-o too-icon"></i>
            <%= mail_to "sales@chelseaframingproducts.com"%>
          </p>
        </address>
      </div>
      <form action="https://formspree.io/sales@chelseaframingproducts.com" method="POST" class="col-md-6 col-sm-4">
        <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
          <input type="text" name="name" class="form-control" placeholder="Your Name">
        </div>
        <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
          <input type="email" name="email" class="form-control" placeholder="Your Email">
        </div>
        <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
          <textarea rows="5" name="message" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="col-md-offset-6 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
          <input type="submit" value="Send" class="form-control">
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
<!-- end contact -->
