<!-- start home -->
<section id="home" class="text-center">
  <div class="templatemo_headerimage">
    <div class="flexslider">
      <ul class="slides" style="list-style-type:none">
        <li style="list-style-type:none">
          <%= image_tag "slider/frame__.jpg", alt: "Slide 1" %>
          <div class="slider-caption">
            <div class="templatemo_homewrapper">
              <h1 class="wow fadeInDown" data-wow-delay="2000">Chelsea Framing Products</h1>
              <h2 class="wow fadeInDown" data-wow-delay="2000">
                <span>Quality Moulding at Your Price</span>
              </h2>
              <%= link_to "Our Work", items_index_path, class: "smoothScroll btn btn-default wow fadeInDown", :data => { :data_wow_delay => "2000"}%>
              <!-- <a href="/static_pages/product" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Our Work</a> -->
            </div>
          </div>
        </li>
        <li style="list-style-type:none">
          <%= image_tag "slider/1.jpg", alt: "Slide 2" %>
          <div class="slider-caption">
            <div class="templatemo_homewrapper">
              <h1 class="wow fadeInDown" data-wow-delay="2000">Chelsea Framing Products</h1>
              <h2 class="wow fadeInDown" data-wow-delay="2000">
                <span>Quality Moulding at Your Price</span>
              </h2>
              <%= link_to "See About Us", static_pages_about_path, class: "smoothScroll btn btn-default wow fadeInDown", :data => { :data_wow_delay => "2000"}%>
              <!-- <a href="/static_pages/about" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">See about us</a> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- end home -->
<!-- Arrow Down -->
<div id="scroll">
  <div class="arrow bounce">
    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
  </div>
</div>
<!-- end arrow -->
<!-- start service -->
<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-clock"></i>
          </div>
          <div class="media-body wow fadeIn">
            <h3 class="media-heading">Order 24 / 7</h3>
            <p>Order 24 / 7 via Email or by Phone </br> from 8 AM to 6 PM CST.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-cog"></i>
          </div>
          <div class="media-body wow fadeIn">
            <h3 class="media-heading">Placeholder</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-paper-plane"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.3s">
            <h3 class="media-heading">Placeholder</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-html5"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.3s">
            <h3 class="media-heading">Placeholder</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-comments-o"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.3s">
            <h3 class="media-heading">Placeholder</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="media">
          <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="media-body wow fadeIn" data-wow-delay="0.3s">
            <h3 class="media-heading">Placeholder</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end service -->

<!-- start divider -->
<div id="divider">
  <!-- <div class="pblock">
    <%# <%= image_tag "divider.jpg", :class => "img-parallax", :alt => "divider.jpg", :data => { :speed => "1"} %> %>
  </div> -->
  <div class="container">

    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-8 col-sm-8">
        <h2 class="wow bounce">We provide
          <strong>Quality</strong>
        </h2>
        <h3 class="wow fadeIn" data-wow-delay="0.3s">
          <mark>Creative</mark>
          Designers &amp;
          <mark>Talented</mark>
          Developers</h3>
        <p class="wow fadeInUp" data-wow-delay="0.3s">Our goal is to bring our customers the highest quality polystyrene moulding at an affordable price-point. Our company has a strong product development team working on bringing new trends and finishes to the largest collections.</p>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end divider -->

<!-- start contact -->
<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
        <address style="padding-left: 90px;">
          <h3>Visit Office</h3>
          <p>
            <i class="fa fa-map-marker too-icon"></i>
            333 Enterprise Pkwy, Lake Zurich</p>
          <p>
            <i class="fa fa-phone too-icon"></i>
            Order & Customer Service: 800-866-5431</br>
      </p>
      <p class="indented" style="margin-left: 10px">Office: 847-550-5556
      </p>
      <p>
        <i class="fa fa-envelope-o too-icon"></i>
      <%= mail_to "sales@chelseaframingproducts.com"%>
      </p>
    </address>
  </div>
  <form action="#" method="post" class="col-md-6 col-sm-4" id="contact-form" role="form">
    <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
      <input name="name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
      <input name="email" type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
      <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
      <input name="submit" type="submit" class="form-control" id="submit" value="Send">
    </div>
  </form>
</div>
</div>
</div>
<!-- end contact -->
