<!-- start product -->
<head>
  <meta name="Items" content="Meet our highest quality polystyrene mouldings with new trends and finishes.">
</head>
<body class="productnav">
<div class="parallax"></div>
<div id="product">
    <div class="container centered">
      <div class="row">
        <div class="col-md-12">
          <h2 class="wow bounce">All Products</h2>

        <div class="wrap">
          <%= form_tag items_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :placeholder => "Search by item# or color", :class => "searchTerm" %>
            <button type="submit" class='searchButton'>
              <i class="fa fa-search"></i>
            </button>
          <% end %>
        </div>
        <div class="dropit">
          <%= form_tag items_path, :method => 'get' do %>
            <%= select_tag "search", options_for_select(Item.all.map {|t| [ t.color ]}.uniq.sort), prompt: "Search by color", class: "droppin" %>
            <%= submit_tag "Filter", class: "droppinbtn" %>
          <% end %>

          <%= form_tag items_path, :method => 'get', style: "padding-top: 5px;" do %>
            <%= select_tag "search", options_for_select(["Less than 1 inch", "Between 1 and 2 inches", "Between 2 and 3 inches", "Greater than 3 inches"]), prompt: "Search by width", class: "droppin" %>
            <%= submit_tag "Filter", class: "droppinbtn" %>
          <% end %>
        </div>
        <div class="tab closeo">
          <%= link_to "All", items_index_path %>
          <%= link_to "Specials", items_specials_path, class: "closeo" %>
        </div>
        <hr>


          <% @items.each do |product| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 wow fadeIn" style="padding-bottom: 50px;" data-wow-delay="0.1s">
              <%= link_to image_tag(product.img_url, class: "item-list", alt: "product img"), item_path(product) %>
              <% if product.img_url == "https://i.postimg.cc/ZnyKB61B/img-soon.jpg" %>
              <p class="centered" style="background-color:#FFF; line-height: 2px; position:absolute;"><%= product.name %></p>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
      <div class="pagination">
        <%= will_paginate @items %>
      </div>
    </div>
</div>
</body>
<!-- end product -->
