<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131426129-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131426129-1');
    </script>
    <title>Chelsea Framing Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Moulding, line trends, styles, highest quality frame. We provide the best quality polystyrene mouldings at an affordable price-point. Meet our expansive catalogue along with the flexible box & container program.">
    <meta name="author" content="Soo Jong Roh">
    <meta name="google-site-verification" content="6K1CNmfsjbbM25rpyKMGfkBkILAtKfeCvnlg0haTBss" />
    <meta property="og:title" content="Chelsea Framing Products">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.chelseaframingproducts.com">
    <meta property="og:description" content="Moulding, line trends, styles, highest quality frame. We provide the best quality polystyrene mouldings at an affordable price-point. Meet our expansive catalogue along with the flexible box & container program.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
