<!DOCTYPE html>
<html>
  <head>
    <title>Chelsea Framing Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chelsea Framing Products Official Website">
    <meta name="author" content="Soo Jong Roh">
    <meta name="google-site-verification" content="6K1CNmfsjbbM25rpyKMGfkBkILAtKfeCvnlg0haTBss" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
